/*
    Use this file to apply custom styling to the home.html template
*/


.coin_title{
    font-weight : bold;
    font-size: 20px;
    text-align: center;
}

.coin_table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  color : black;
}

.coin_table th, .coin_table td{
    border: 1px solid #ddd;
    padding: 8px;
}

.coin_table tr{
    background-color: #a2a2a2;
}

.coin_table tr:nth-child(even){
    background-color: #c2c2c2;
}

.flex-container{
    display: flex;
}

.coin_div{
    margin: 20px;
    border: black 1px solid;
    padding: 20px;
    background-color: rgba(50,50,50, 0.5);
    color: beige;
}

.data_cel{
    text-align: center;
}

.total_div{
    margin: 20px;
    border: black double 10px ;
    padding: 20px;
    background-color: rgba(30,30,30, 0.6);
    color: beige;
}

.grand_total{
    font-size: 80px;
    color: beige;
    text-align: center;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-color: beige;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 70px;
    border-style: none;
    border: solid 2px beige;
    margin-top: 10px;

}

.kladblok{
    margin: 20px;
    display: block;
    text-align: center;
}

.center{
    margin: auto;
    text-align: center;
}