body {
    background-color: #be6c00;
    background-image: url(https://i.imgur.com/x8JbAe0.png);
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: ivory;
    background-color: slategrey;
    padding: 5px;
}

p, a {
    font-size: 16px;
    
}