{% extends 'layout.html' %}
<!--title>CRYPTO-monitor</title-->
{% block content %}
    <link rel="stylesheet" href="static/stylesheets/home.css">
    <h3>UPDATE amounts owned</h3>
    <br>
    <div class="flex-container">
            
        <div class="total_div">
            <p class="coin_title">Total</p>
            <br>
            <table class="coin_table">
                <tr><th>Coin</th><th>Price</th><th></th><th>Owned</th><th></th><th>Total</th></tr>
                <tr><td>Bitcoin</td><td id="bitcoin">{{bitcoin}}</td><td>x</td><td id="b_owned">{{b_owned}}</td><td>=</td><td id="b_total">&#8364;&nbsp;0000</td></tr>
                <tr><td>Ethereum</td><td id="ethereum">{{ethereum}}</td><td>x</td><td id="e_owned">{{e_owned}}</td><td>=</td><td id="e_total">&#8364;&nbsp;0000</td></tr>
                <tr><td>Dogecoin</td><td id="dogecoin">{{dogecoin}}</td><td>x</td><td id="d_owned">{{d_owned}}</td><td>=</td><td id="d_total">&#8364;&nbsp;0000</td></tr>
                
            </table>
            <div class="grand_total" id="grand_total">
                0000
            </div>
        </div>
        <div class="change">
            <form class="update_form" method="POST">
                <table>
                    <tr><th>Coin</th><th>Value</th></tr>
                
                    <tr><td>Bitcoin</td><td><input type="text" name="b_update" placeholder="{{b_owned}}" value="{{b_owned}}"></td></tr>
                    <tr><td>Ethereum</td><td><input type="text" name="e_update" placeholder="{{e_owned}}" value="{{e_owned}}"></td></tr>
                    <tr><td>Dogecoin</td><td><input type="text" name="d_update" placeholder="{{d_owned}}" value="{{d_owned}}"></td></tr>
                    <tr></tr>
                    <tr><td></td><td><button type="reset">Cancel</button><button type="submit">Update</button></td></tr>
                    
                </table>
            </form>
            <br>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        /* reload page every so many minutes */
        setInterval(reloadPage, 900000);

        function reloadPage(){
            location.reload();
        }

        /* coloring cells red or green */
        $('.data_cel').each(function(){
            //if statement here 
            // use $(this) to reference the current div in the loop
            //you can try something like...
            var text = $(this).text();
            var value = parseFloat(text);
            var new_value = value.toFixed(3);
            $(this).text(new_value);

            if(value > 0){
                $(this).css("background-color","lightgreen");
            } else {
                $(this).css("background-color","coral");
            }
        });

        /* function for calculating total value of krypto currency owned */
        function calculate_total(){
            var bitcoin_price = $("#bitcoin").text();
            var ethereum_price = $("#ethereum").text();
            var dogecoin_price = $("#dogecoin").text();
            
            var bitcoin_owned = parseFloat($("#b_owned").text());
            var ethereum_owned = parseFloat($("#e_owned").text());
            var dogecoin_owned = parseFloat($("#d_owned").text());

            var b_total = (bitcoin_price * bitcoin_owned).toFixed(2);
            var e_total = (ethereum_price * ethereum_owned).toFixed(2);
            var d_total = (dogecoin_price * dogecoin_owned).toFixed(2);

            $("#b_total").text("€ " + b_total);
            $("#e_total").text("€ " + e_total);
            $("#d_total").text("€ " + d_total);

            var grand_total = parseFloat(b_total) + parseFloat(e_total) + parseFloat(d_total);
            grand_total = grand_total.toFixed(2);

            $("#grand_total").text("€ " + grand_total);

        }
        
        /* code executed after the page has been fully loaded */
        window.onload = function(){
            calculate_total();
        }
    </script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}